
/* Your CSS Code here. */
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  thead{
    color: white;
  }
  #part{
    background-color: #c3534b;
  }
  #waist{
    background-color:#db9394;
  }
  #chest{
    background-color:#e7dcdb;
  }
  #sleeve{
    background-color: #acdcd8;
  }
